/RussiaPlanningNSGAII/nbproject/private/
/RussiaPlanningNSGAII/build/
/RussiaPlanningNSGAII/VAR
/RussiaPlanningNSGAII/FUN
/RussiaPlanningNSGAII/FUN_NSGAII
/RussiaPlanningNSGAII/NSGAII_main.log
/RussiaPlanningInstanceGen/nbproject/private/
/RussiaPlanningInstanceGen/build/
/RussiaPlanningGreedy/nbproject/private/
/RussiaPlanningGreedy/build/
/RussiaPlanningNSGAII/*.png
/RussiaPlanningGreedy/*.png
/RussiaPlanningInstanceGen/instancia
/RussiaPlanningNSGAII/dist/
/RussiaPlanningGreedy/dist/